In [ ]:
 a = "samara" #1st question
 print(type(a))
 age = 20
 new=age+5
 print(new)

<class 'str'>
25

In [ ]:
a = "PythonisAmazing"  #2nd question

print(a[:6])
print(a.upper())
print(a.replace("Amazing","awesome"))

Python
PYTHONISAMAZING
Pythonisawesome

In [ ]:
fruits = ["apple", "banana", "cherry", "date"]  #3rd Question
fruits.insert(4,"redberry")
print(fruits)
fruits.remove("banana")
print(fruits)
fruits.reverse()
print(fruits)

['apple', 'banana', 'cherry', 'date', 'redberry']
['apple', 'cherry', 'date', 'redberry']
['redberry', 'date', 'cherry', 'apple']

In [ ]:
alphabets = ("x", "y", "z")   #4th question tuple
(a,b,c) = alphabets
print(a)
print(b)
print(c)

x
y
z

In [84]:
info = dict(name="samara", age = 20, course = "python") #5th question dictionaries
print(info)
x = info.keys()
info["grade"] = "A"
print(x)
info["age"] += 1
print(info)
info.pop("course")
print(info)

{'name': 'samara', 'age': 20, 'course': 'python'}
dict_keys(['name', 'age', 'course', 'grade'])
{'name': 'samara', 'age': 21, 'course': 'python', 'grade': 'A'}
{'name': 'samara', 'age': 21, 'grade': 'A'}

In [ ]:
# 6th question sets
colors = {"red","green", "blue"}
colors.add("yellow")
print(colors)
print("black" in colors)
colors.remove("green")
print(colors)

{'yellow', 'red', 'blue', 'green'}
False
{'yellow', 'red', 'blue'}

In [81]:
#7th question conversion list to tuple and string to int and float.
s ="123"
y=int(s)
print(y)
fruits = ["banana", "apple"]
y=tuple(fruits)
print(y)
y=float(s)
print(y)

123
('banana', 'apple')
123.0

In [75]:
#8th question
def type_counter(input): #declaring the function type_counter
    type_count = {}

    for item in input:
        datatype = type(item).__name__
        if datatype in type_count:
            type_count[datatype] += 1
        else:
            type_count[datatype] = 1

    return type_count


input = [1, "samara", 3.14, [1,2,3], (4,5,6)]
result = type_counter(input_list)
print(result)

{'int': 1, 'str': 1, 'float': 1, 'list': 1, 'tuple': 1}